.cars-skeleton .ant-skeleton-content .ant-skeleton-paragraph {
  margin: 20px;
}
.cars-skeleton .ant-divider-horizontal {
  margin: 12px 0;
}

.cars-skeleton .cars-skeleton__alert {
  margin-bottom: 20px;
}
